@charset "UTF-8";
.type__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type__item {
    flex: 0 0 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
    cursor: pointer;
    user-select: none;
    color: #555;
    transition: 0.3s;
    border: 1px solid #ddd;
    border-top: 3px solid var(--sub);
}

.type__item:nth-child(1)  { --color: var(--main) }
.type__item:nth-child(2)  { --color: var(--sub); border-left: none; }

.type__icon {
    width: 8em;
    height: 8em;
    background-color: var(--color);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.type__item strong {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    transition: 0.3s;
}

@media(max-width: 992px){
    .type__item { flex: 0 0 100%; flex-direction: row; text-align: left; padding: 1em; }
    .type__item:nth-child(2) { border-left: 1px solid #ddd; border-top: none; }

    .type__icon { font-size: 0.8em; margin-right: 2em; }
}